@charset "UTF-8";
.fl { float:left;}
.fr { float:right;}
.clear { clear:both;}
.fixed { position:fixed; top:-5px;}
.ofh { overflow: hidden;}
.tac { text-align: center;}
a { text-decoration: none; color: #000;}
a:hover { color:#fa6479;}
.button { padding:5px 10px;}
body { font-family: 'Microsoft JhengHei', 微軟正黑體, Arial, Tahoma, 'Century gothic', sans-serif;}
footer { height:100px;}
/*********header*********/
header, section { width: 1260px; margin:5px auto 0 auto; overflow:hidden;}
.login li { display:inline-block; list-style: none; border-right:1px solid #000; padding:0 10px;}
header .login { width:auto; margin-top: 15px;}
header .nav { width: 900px; height: 40px; margin-top:90px; line-height:30px; color: #A00; font-weight: bold; font-size: 18px;}
.banner_cell { margin:0 auto;}
.banner img { width: 1260px;}
.slick-dots { bottom:5px;}
.slick-slider { margin-bottom:10px;}
.nav .service_phone { width: 250px; }
.nav .fb img { width: 180px;}
.logo img { width: 280px;}


/*********promo*********/
.promo { border:1px solid #ccc; overflow:hidden;}
.promo_img { width: 66.66%;}
.promo_img img { width: 100%;}
.promo_text { width: 33.33%; text-align: center; }
.promo_text .title { padding:16px 0; font-size: 28px;}
.counter .title { color:#a00; }
.promo .clock { width: 380px;height: 30px; margin:10px auto 20px auto; line-height:30px; font-size:28px; color:#a00; }
.promo .tag { margin-top:10px;}
.tag div { display:inline-block;  border-radius:5px; font-size: 24px;}
.tag_fast { margin-right: 30px;}
.tag_free { margin-left: 10px;}
.product .content { padding:0 19px; text-align: left; font-size: 20px; line-height:1.2em; }
.origin span { text-decoration: line-through;}
.promo .product .price { overflow: hidden; font-size: 16px; margin: 10px 0;}
.promo .product .promo_price {font-size: 20px;color: #fff;background-image: url(../images/tag.png);background-repeat: no-repeat;background-position: right;height: 42px;line-height: 40px;}
.promo .product .promo_price span { font-size: 32px;color:#fff;}
.promo .product .sold {margin-top: 20px;font-size: 14px;}
.promo .product .buy {margin:20px auto ;}
.promo .product .buy a { font-size: 20px;border-radius: 5px;
border: 2px solid #e7284b;color:#b51f32;padding:3px 30px;}
.promo .product .buy a:hover {background-color: #e7284b;color:#fff;}
/*********menu*********/
.menu { width:1260px; border-top:2px solid blue; margin-top:5px; border-bottom:1px solid #ccc; padding-bottom:5px; background-color:#fff; z-index:100;}
.menu .title { padding:10px; font-size:24px;}
.menu_item li { display:inline-block; padding:3px 10px; border-right:1px solid #000; margin:3px 0;}
.menu_item li:hover { color: #fff; background-color:#666;}
.product_container { margin-bottom:20px; overflow:hidden;}
.product_container .product_cell { width:32%; float:left; margin-right:2%; border:1px solid #ccc; box-sizing: border-box;}
.product_cell.last { margin-right:0;}
.product_cell img { width: 100%;}
.product_cell .price {height: 70px;background-color: #fff;display: flex;align-items: center;padding: 7px 0 0 7px;border-top-width: 4px;border-top-style: solid;border-top-color: #D9534F;}
.price > div { width: 31%; float:left;margin:0 3px;}
.price .sold {color: #fff;}
.price .promo_price { font-size:18px; color:#505051;}
.price .oprice { text-decoration: line-through;color:#505051; }
.price .buy { border-radius:10px; padding:10px 0; text-align: center;background-color: #fff; color:#f2695b;}
.price .buy a{ background-color: #e23030; color:#fff;}
.price .buy a:hover{ background-color: #000; color:#fff;}
.clock div { height: 20px; display:inline-block;}

/*********category*********/
.category { margin:40px 0; overflow:hidden;}
.category_menu { width: 292px; min-height:248px; float:left; background:url('../images/secend_menu_bg3.jpg') no-repeat; padding: 20px 26px; box-sizing: border-box;}
.category_content { width: 968px; min-height:248px; float:left; /*margin-top: 12px;*/}
.category .sort_title {margin-bottom: 14px;color: #333;letter-spacing: 1px;}
.category_menu .title { padding-left: 20px; color:#fff;font-weight: bold;letter-spacing: 2px;}
.category_menu .sort_list { margin-top: 30px; padding: 0 20px; border: 1px solid #ccc; border-top: none;}
.sort_box { margin-bottom: 50px;}
.sort_box .sort_box_title {border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: #4e9ec7;background-image: url(../images/sort_icon4.png);background-repeat: no-repeat;padding-bottom: 2px;padding-left: 40px;line-height: 30px;}
.sort_box_content { padding-left: 40px;}
.sort_box_content li { margin-top: 10px;}
.category_banner_cell img { width: 100%;   border-radius: 30px;}
.category_content .product_box { margin-top: 30px;}
.product_sort_title {border-bottom: 2px solid #F36;padding-bottom: 7px;color:#069;}
.product_sort_title a { color:#069;}
.product_sort_title a:hover { color:#fa6479;}
.product_box .pagination li { float: left; border:1px solid #ccc; margin-right: 5px; padding:5px 10px; border-radius:5px; }
.product_box .pagination li.active { background-color:#d0cecf;}
.product_box .pagination-container { margin: 20px 0; overflow:hidden;}
.product_box .product_content { margin: 40px 0; overflow:hidden; }
/*.product_box .product_cell { width: 172px; float: left; margin:0 27px 30px 0; }*/
.product_box .price .sold { font-size:14px; }
.product_box .price .promo_price { font-size:18px;color:#505051;}
.product_box .price .buy { padding:5px 0;}
.product_box .product_cell:nth-child(5n) { margin-right:0; }
.product_box .product_image { height: 170px; border:1px solid #ccc; }
.product_cell:hover .product_image { border-color :#8bc100; box-shadow: 0 0 4px rgba(139, 193, 0, 0.5);}
.product_cell .product_name { margin:10px 0; line-height: 1.3em;}
.product_cell .product_text { margin-bottom:10px; }
.product_cell .origin_price { margin-bottom: 10px; font-size:0.8em; color:#666; text-decoration: line-through;}
.product_cell .product_price { margin-bottom: 10px;text-align: right; font-size:1.1em; color:#A00;}
.product_cell .product_buy { padding:5px 0; text-align: center; background-color:#8bc100;}
.product_cell .product_buy:hover { background-color:orange;}
.product_image img { width: 170px; }

/*********product_detail*********/
.product_detail_container { width: 868px; float: left; margin-top: 12px; padding-left: 10px; box-sizing: border-box;}
.product_detail_container .product_detail_image { width: 400px; float: left;}
.product_detail_image img { border-radius:10px; }
.product_detail { overflow:hidden;}
.product_detail_container .product_detail_text { width: 440px; margin-left: 18px; float: left;}
.product_detail_title { padding-bottom: 10px; margin-bottom: 20px; border-bottom:1px solid #ccc; font-size:24px; color:#A9172D; line-height: 1.7em;}
.product_detail_description { line-height: 2em; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 20px; }
.product_detail_price { overflow:hidden; border-bottom:1px solid #ccc; padding-bottom:10px ; margin-bottom:30px ;}
.product_detail_price .origin_price { display:inline-block; float: left; text-decoration: line-through; color:#999;}
.product_detail_price .promo_price {display:inline-block; float:right; color:#f83858; font-size:24px; }
.product_order_num { width: 200px; float: left;}
.product_order_num select { width: 150px;}
.product_order_title { margin-bottom: 10px;}
.product_order .buy { width: 115px; padding:10px; float: right; border-radius:10px;background-color:#e7234a; color:#FFF; }
.product_order .buy:hover { background-color:#da002b; color:#FFF;}
.buy .fa-cart-plus { margin-right: 10px; font-size:24px; }
.product_feature { margin-top:30px; }
.tab div { width: 25%; padding: 10px 0; float: left; text-align: center; border:1px solid #ccc; border-top-left-radius:10px; border-top-right-radius:10px; border-right:none; box-sizing:border-box;background-color: #dfe0e1; }
.tab div.last { border-right:1px solid #ccc;}
.tab div.active { background-color: #4e9ec7; color:#FFF; }
.tab_content { border: 1px solid #ccc; border-top:none; min-height: 500px; padding: 30px; }
.tab_content div { display:none;}
.tab_content div.active { display:block;}
.thumb > div { width: 80px; margin:5px; float: left; cursor:pointer; }
.thumb img { width: 80px;}
.thumb img:hover { box-shadow: 0 0 20px #FA7676;}

/*********order*********/
.order_container {width: 1260px;padding: 20px 50px;margin: 10px auto;box-sizing: border-box;border: 1px solid #eee;	}
.order_process { width: 440px; margin:20px auto 50px auto; }
.order_process > div { display:inline-block ;padding:10px; border:1px solid #ccc; border-radius:10px; margin:0 10px;color:#666; }
.order_process > div.active { background-color:#2558ff; color:#fff;}
.choice_title_container { border-bottom:1px solid #ccc; overflow:hidden; background-color:#eee;padding: 0 0 0 10px;}
.pay_choice_container {overflow: hidden;margin: 0 0 3em 0;}
.choice_title_container .choice_title, .choice_title_container .memo_title,
.pay_choice_container .pay_choice, .pay_choice_container .pay_choice_memo  { width: 550px; float: left; line-height: 2em;margin:1em 0 0 1em;}
.shopping_desc_title { border-bottom:1px solid #ccc; padding-bottom:10px;background-color:#eee;padding: 10px 0 10px 10px; }
.shopping_desc li { margin:1em 0 0 1em;}
.order_detail_container { margin-top: 50px;}
.order_detail_title {padding: 10px 0 10px 30px;background-color: #eee;overflow: hidden;border-bottom-width: 1px solid #CCC;}
.order_detail_container .del ,.order_detail_container .num,
.order_detail_container .price,.order_detail_container .total { width: 15%; }
.order_detail_container .name {width: 40%;}
.order_detail_title div, .order_cell div { float: left;}
.order_cell { padding: 10px 0 10px 30px; overflow: hidden; border-bottom:1px solid #ccc; line-height: 31px; }
.del .del_button {display: inline-block;background-color: #FA7676;border-radius: 2px;cursor: pointer;line-height: normal;
padding:5px 10px;}
.del .del_button:hover {background-color: #f30000;}
.transport_cell, .total_cell { height: 31px; padding-left:30px ; overflow:hidden; line-height: 31px; }
.transport_title, .transport_fee, .total_title, .total_fee { width: 15%; float: right;}
.total_fee { color:#A00; }
.order_container .step { width: 234px; margin:50px auto ; overflow:hidden;}
.step .prev, .step .next { width: 100px; border:1px solid #2558ff;color:#2558ff; float: left; text-align: center; padding:10px 0; border-radius:10px; }
.step .prev:hover, .step .next:hover { background-color: #2558ff; color:#fff; }
.step .prev { margin-right:30px; }
.buyer_info_container { margin-bottom: 50px;}
.buyer_info_title  { font-size:20px; color:#A30245; margin-bottom: 20px;}
.buyer_info_content .title { width: 100px; float: left;}
.buyer_info_content > div { margin-top:10px; }
.address input { width: 300px;}
.buyer_time_container { margin-bottom: 50px; overflow:hidden; }
.buyer_time_container .time, .buyer_time_container .fee, .buyer_time_container .memo { width: 30%; float: left;}
.buyer_time_title, .buy_ticket_title { padding-bottom: 10px; margin-bottom: 10px;border-bottom:1px solid #ccc; overflow:hidden;}
.buy_time_content { overflow:hidden; }
.buy_time_content .time, .buy_ticket_content { line-height: 2em;}
#order_completed_container { line-height: 2em;}
#order_completed_container .name, .order_detail_desc li { color:#A00;}
.order_detail_desc .title { color:#000;}

/*********promote*********/
.promote_container .tab li { cursor:pointer; width: 120px; padding:5px ;margin-right: 7px;background-color:#fd8097;color:#fff; border-top-left-radius:10px; border-top-right-radius:10px; border:1px solid #ccc; float: left; text-align: center;}
.promote_container .tab li:last-child { margin-right: 0; margin-left: 1px;}
.promote_container .tab li.active { background-color:#de012a}
.promote_container .promo_content { display:none;}
.promote_container .promo_content.active { display:block;}
.promote_container .content { border:1px solid #ccc; border-top:none; padding:10px; }
.promote_container .content .cell_container { margin:0 auto; width: 950px;}
.promote_container .content .cell { width: 210px; float: left; margin:10px 13px; }
.promote_container .content .cell:hover { box-shadow:0px 0px 16px #A00}
.promote_container .content .cell img { width: 210px; }
.promote_container .content .cell .img { height: 160px;}
.promote_container .content .desc { height: 40px; padding:10px 5px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.promote_container .content .price { height: 60px; color:#505051; text-align: right; border:1px solid #ccc; padding:10px 5px;}
.promote_container .content .text { font-size:0.7em; margin-right: 5px;}
.promote_container .price .original { width: 23%; font-size:12px;}
.promote_container .price .promo_price { font-size:16px; line-height: 60px; margin-left: 10px;}
.promote_container .price .buy { width: 27%; margin: 15px 10px 0 0; float: right; cursor:pointer; }

/*********login*********/
.login_container { height: 600px; margin:20px 0 0 0; /*background-color:#F2F2F2*/}
.login, .login_api { width: 50%; box-sizing:border-box; }
.login {/* border-right:1px solid #ccc; */height:100%; }
.tab .normal, .tab .company { width: 50%;}
.login_container header { width:auto;/* text-align: center;*/ margin: 40px auto; padding:10px; font-size:1.6em; font-weight:bold;color:#0a89de; }
.login .normal_content, .login .company_content { padding: 50px; line-height: 2em; display:none}
.login .normal_content.active, .login .company_content.active { display: block;}
.login label { width: 65px; display:inline-block; text-align: right; margin-right: 30px;}
.login input { width: 250px;}
.login .submit { margin: 30px 0 0 0; }
.login .login_button { margin-right: 20px;padding:5px 50px; border-radius:10px;background-color: #0099FF;color: #FFF; }
.login .login_button:hover {background-color: #0389e2;}
.login .add_button { margin-right: 20px;padding:5px 50px; border-radius:10px;background-color: #ff467f;color: #FFF; }
.login .add_button:hover {background-color: #e22861;}
.login .join { margin: 15px 0 0 10px}
.login_api { text-align: center; padding-top:45px;}
.login input[type=radio], .login input[type=checkbox] { width: initial; margin-left: 20px;}
.term { margin:20px 0;}
.apply_button {display: inline-block;background-color: #0099FF;border-radius: 5px;cursor: pointer;line-height: normal;color: #FFF;margin-left: 150px;padding: 10px 20px;}
.apply_button:hover {background-color: #0389e2;}

/*********rules and privacy*********/
.rules_container, .privacy_container { height: 600px; width: 968px; float: left; margin:10px 0 20px 0; }
.rules_container header{border-bottom: 1px solid #06a9e6;background-image: url(../images/rules-title.jpg);background-repeat: no-repeat;height: 50px;padding: 10px 30px 0 0;background-position: left;}  
.privacy_container header {border-bottom: 1px solid #06a9e6;background-image: url(../images/privacy-title.jpg);background-repeat: no-repeat;height: 50px;padding: 10px 30px 0 0;background-position: left; background-size: 968px auto; }
.rules_container .content , .privacy_container .content { padding:20px 70px;}

/*********forget*********/
header.forget+ .content form { margin: 30px 0 0 100px; }
header.forget+ .content .cell { padding:10px 20px;}
header.forget+ .content .cell.button { margin-left: 240px;}
header.forget+ .content .cell button { font-size: 14px; padding:5px 10px; border-radius:5px; }
header.forget+ .content input { width: 300px; height: 25px; text-indent:1em}
header.forget+ .content label { width: 50px; margin-right: 10px;}
header.forget+ .content h1 { font-size: 20px;}


/*********contact*********/
header.contact+ .content h1 { font-size: 20px;}  
header.contact+ .content .title { background-color: #a79f97; padding:10px 20px; font-size: #a00;}
header.contact+ .content .contact_container { width: 700px; border:1px solid #ccc; margin-top: 20px; }
header.contact+ .content .cell { padding:10px 20px; border-bottom:1px dashed #ccc; }
header.contact+ .content .cell.last { border-bottom: none;}
header.contact+ .content .cell label { width: 100px; margin-right: 10px;}
header.contact+ .content .cell input { width: 300px; height: 25px; text-indent:1em}
header.contact+ .content .cell.textarea { display:flex; align-items:center; }
header.contact+ .content .cell img { height: 20px; width: 100px;}
header.contact+ .content .button { padding: 20px 130px 0 0 ; overflow: hidden;}
header.contact+ .content button { font-size: 20px; padding:5px 10px; margin-right: 20px; border-radius:5px; cursor:pointer; }

/*********subscription*********/
header.subscription+ .content h1 { font-size: 20px; margin-bottom: 30px;} 
header.subscription+ .content form { width: 600px;}
header.subscription+ .content .cell { padding:10px 20px; border-bottom:1px dashed #ccc; }
header.subscription+ .content .cell label { width: 100px; margin-right: 10px;}
header.subscription+ .content .cell input { width: 300px; height: 25px; text-indent:1em; }
header.subscription+ .content .cell img { height: 20px; width: 100px;}
header.subscription+ .content .button { padding: 20px 30px 0 0 ; overflow: hidden;}
header.subscription+ .content button { font-size: 20px; padding:5px 10px; margin-right: 20px; border-radius:5px; cursor:pointer; }

/*********corporation*********/
header.corporation+ .content h1 { font-size: 20px;}  
header.corporation+ .content .title { background-color: #a79f97; padding:10px 20px; font-size: #a00;}
header.corporation+ .content .contact_container { width: 700px; border:1px solid #ccc; margin-top: 20px; }
header.corporation+ .content .cell { padding:10px 20px; border-bottom:1px dashed #ccc; }
header.corporation+ .content .cell.last { border-bottom: none;}
header.corporation+ .content .cell > label { width: 130px; margin-right: 10px;}
header.corporation+ .content .cell > input { width: 300px; height: 25px; text-indent:1em}
header.corporation+ .content .cell input.ext { width: 70px; }
header.corporation+ .content .cell input.zone { width: 70px; }
header.corporation+ .content .cell input.address { width: 420px;}
header.corporation+ .content .cell.textarea { display:flex; align-items:center; }
header.corporation+ .content .cell img { height: 20px; width: 100px;}
header.corporation+ .content .button { padding: 20px 130px 0 0 ; overflow: hidden;}
header.corporation+ .content button { font-size: 20px; padding:5px 10px; margin-right: 20px; border-radius:5px; cursor:pointer; }
header.corporation+ .content .cell span { display:inline-block;}
header.corporation+ .content .cell span input { width: 14px; height: 14px;}
header.corporation+ .content .cell span label { margin-right: 10px;}
header.corporation+ .content .cell.receipt { display:flex; align-items:center; }



/*********footer*********/
footer { width: 1260px; height: 330px; margin:0 auto; background-color: #008c9e;border-top:6px solid #005f6b;}
footer .footer_cell { height: 100%; padding: 15px 22px; width: 15%;}
footer .footer_cell:first-child { margin-top:-15px; margin-left: -8px; width: 21%;}
.footer_cell li { padding:10px 0;}
.footer_cell h5 {color: #fff;margin-bottom: 5px;line-height: 40px;border-bottom: 2px solid #FFF;}
.footer_cell .fa { margin-right:10px;}
.footer_cell li a { text-decoration: none; color:#fff;}
.footer_cell li a:hover { color:#01252a;}
