@charset "utf-8";
/* CSS Document */

body {
	padding: 0px;
	background-color: #016AA9;
	height: auto;
	width: auto;
	background-image: url(images/bg.png);
	margin: 0px;
	color: black;
}
p {
	margin: 0px;
	padding: 0px;
	color: black;
}

.index {
	height: 582px;
	width: 834px;
	background-image: url(images/index.png);
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
	color: black;
}
.text {
	margin-top: 200px;
	margin-left: 180px;
	width: 280px;
	height: 200px;
	font-weight: bolder;
	float: left;
	font-size: 18px;
	color: black;
}
.index .images {
	background-repeat: no-repeat;
	height: 35px;
	width: 97px;
	margin-right: 270px;
	margin-top: 250px;
	float: right;
}

.top {
	background-image: url(images/sub-top.png);
	height: 76px;
	background-repeat: no-repeat;
	float: left;
	margin-left: 0px;
	width: 100%;
	color: black;
}
.top .top-left {
	margin-top: 30px;
	float: left;
	height: 45px;
	width: 284px;
	margin-left: 400px;
	color: black;
}
.top .top-right {
	float: right;
	height: auto;
	width: 35%;
	color: black;
	font-weight: bold;
	font-size: 13px;
	text-align: right;
}
.left {
	float: left;
	height: 1200px;
	width: 15%;
	margin-top: 15px;
	background-color: #FFF;
	padding: 0px;
	color: black;
}
.left .left-top {
	background-repeat: repeat;
	height: 35px;
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
	font-weight: bold;
	color: black;
	padding-left: 0px;
	background-image: url(images/left-top.png);
	padding-top: 10px;
	
}
.left .left-top ul {
	float: left;
	padding-left: 3px;
	padding-top: 0px;
	color: black;
}
.right {
	float: right;
	height: 2200px;
	width: 84%;
	margin-top: 15px;
	background-color: #FFF;
	margin-left: 1%;
	color: black;
}
.right ul {
	height: auto;
	width: auto;
	list-style-type: none;
	float: left;
	margin-bottom: 15px;
	margin-left: 20px;
	color: black;
}
.right ul li {
	float: left;
	margin-bottom: 20px;
	list-style-type: none;
	text-align: center;
	color: black;
}

.right ul li .right01-text {
	padding-left: 35px;
	float: left;
	color: white;
}


.left ul li {
	background-repeat: no-repeat;
	list-style-type: none;
	background-image: url(images/icon01.png);
	padding-left: 25px;
	color: black;
}
.right .right01 {
	height: 25px;
	width: 100%;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-color: #393939;
	margin-left: 0px;
	padding-top: 5px;
	color: white;
	padding-left: 15px;
	font-weight: bolder;
	font-size: 14px;
}
.right .right02 {
	height: 25px;
	width: 100%;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-color: #393939;
	margin-left: 0px;
	padding-top: 5px;
	color: black;
	padding-left: 15px;
	font-weight: bolder;
	font-size: 14px;
	float: left;
}

.right .icon {
	height: 190px;
	width: 15%;
	margin-left: 4%;
	margin-top: 20px;
	float: left;
	color: black;
}
.right .icon01 {
	height: 190px;
	width: 15%;
	margin-left: 4%;
	margin-top: 20px;
	float: left;
}

.right .icon .icon-text {
	padding-left: 20%;
	margin-top: 10px;
	float: left;
	width: 100px;
	color: black;
}

.right .right02 {
	height: 30px;
	width: 100%;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-color: #393939;
	margin-left: 0px;
	padding-top: 15px;
	color: black;
	padding-left: 15px;
	font-weight: bolder;
	font-size: 16px;
}
#footer {
	background-color: #333;
	color: #CCC;
	text-align: center;
}
/* 商品介紹 */

.prodccts {
	text-decoration: none;
	list-style-type: none;
	float: left;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 700px;
	padding: 0px;
}
.prodccts li {
	width: 126px;
	vertical-align: top;
	float: left;
	display: inline-block;
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.prodccts li a p {
	padding: 0px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}
#new_img {
	float: left;
	height: auto;
	width: 126px;
}
#big_new {
	height: 200px;
}
#life_menu {
	padding: 0px;
	width: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
}
.left .left-top #left_tit {
	color: black;
	padding-left: 20px;
}
