@charset "utf-8";
/* CSS Document */
/*支援PNG*/

* {
    behavior: url(../%E7%B5%90%E6%9D%9F%E5%8B%95%E4%BD%9C/556/iepng.htc);
}
/* CSS Document */

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, sans-serif, "微軟正黑體";
    background-color: #FFF;
    background-repeat: repeat-x;
/*    background-image: url(../images/bg_v3.jpg);*/
}
#foodss {
    background-image: url(../images/123.png);
    float: left;
    height: 33px;
    width: 176px;
    margin-top: 15px;
    padding-top: 40px;
    padding-left: 15px;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*取消 Html 原有樣式---------------------------------*/

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {} fieldset, img {
    border: 0;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    margin: 0px;
    padding: 0px;
}
.linethrough{
    text-decoration: line-through;
}
#wrapper {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}
#header {
    height: 90px;
    float: left;
    width: 1000px;
    margin-bottom: 10px;
    color: #FFF;
}
#header .logo {
    float: left;
    height: 82px;
    width: 188px;
    margin-top: 0;
    margin-left: 10px;
}
#header .topmenu {
    float: right;
    background-color: #e40011;
    text-align: center;
    font-size: 12px;
    color: #FFF;
    padding-top: 5px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    height: 20px;
    margin-right: 10px;
    margin-top:10px;
}
#header .topmenu .fildform {
    width: 100px;
    line-height: 15px;
    height: 15px;
    font-size: 12px;
}
#header .topmenu a {
    color: #FFF;
    line-height: 20px;
}
#header .topmenu a:hover {
    color: #F60;
}
#header .menu {
    float: right;
    margin-top: 70px;
    width: 525px;
    color: #FFF;
}
#header .menu li a {
    color: #59739A;
    font-size: 16px;
    font-weight: bold;
    float: left;
    width: 70px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
}
#header .menu li a:hover {
    color: #F90;
    font-weight: bold;
}
#header .menu .line {
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: #999;
}
#banner {
    float: left;
    height: auto;
    width: 1000px;
}
#cart-shortcut {
    background-image: url(../images/cart.png);
    height: 80px;
    width: 79px;
    font-size: 10px;
    padding-top: 60px;
    text-align: center;
    position: absolute;
    right: 8px;
    top: 300px;
    z-index: 1000;
}
#cart-shortcut p {
    margin-bottom: 4px;
    float: left;
    width: 100%;
}
#cart-shortcut .go {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    font-size: 10px;
    color: #FF0;
    background-color: #333;
}
#cart-shortcut .go:hover {
    color: #FFF;
    background-color: #000;
}
#cart-shortcut .nt {
    margin-right: 2px;
    font-weight: bold;
    color: #CC0000;
}
#content {
    float: left;
    width: 980px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 25px 0 10px 0;
    background-repeat: no-repeat;
}
#content .banner {
    float: left;
    height: 275px;
    width: 980px;
    margin-bottom: 10px;
}
#content #container {
    clear: both;
    float: left;
    width: 100%;
}
#content #container .search {
    background-image: url(../images/images_03_02.png);
    float: right;
    width: 400px;
    background-repeat: no-repeat;
    height: 46px;
}
#content #container .newsindex {
    float: left;
    width: 380px;
    font-size: 12px;
    height: 270px;
    background-image: url(../images/images_03_042.png);
    background-repeat: no-repeat;
    padding-right: 10px;
    padding-left: 10px;
}
#content #container .newsindex .titlenews {
    line-height: 38px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
}
#content #container .newsindex .titlenews a {
    color: #FFF;
}
#content #container .newsindex .newslist {
    margin-top: 0px;
    margin-bottom: 6px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #600;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-size: 14px;
    float: left;
    width: 380px;
}
#content #container .newsindex .newslist .textnews {
    font-size: 12px;
    color: #666666;
}
#content #container .newsindex a {} #content #container .newsindex .indtopnews {} #content #container .newsindex .indtopnews .tnimg {
    float: left;
    height: 100px;
    width: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #F00;
}
#content #container .newsindex .indtopnews .tnewslist {
    margin-bottom: 6px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 275px;
}
#content #container .newsindex .newslist .text-c {
    height: 100px;
    overflow: hidden;
    text-align: left;
}
#content #container .newsindex .newslist .date {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #666;
    font-weight: bold;
    color: #526C8F;
    display: inline;
    float: left;
    padding-right: 5px;
}
#content #container .newsindex .newslist .heading {
    float: left;
    font-weight: bold;
    color: #526C8F;
    padding-left: 5px;
}
#content #container .separated {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    margin-bottom: 10px;
}
#content #container .search .stext {
    margin-left: 80px;
    margin-top: 12px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    height: 25px;
    width: 255px;
}
#content #container .search .ssubmit {
    margin: 0px;
    padding: 0px;
    display: inline;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #B5B4B4;
    height: 25px;
    width: 45px;
    line-height: 25px;
    text-align: center;
}
#content #container .adbanner {
    float: left;
    width: 570px;
    font-size: 14px;
    line-height: 20px;
    height: 270px;
    background-color: #F00;
    margin-left: 8px;
    border: 1px solid #FF5703;
}
#content #container .ind-menu {
    float: left;
    width: 191px;
    background-image: url(../images/images_04_01_01.png);
    height: auto;
    background-repeat: no-repeat;
}
#content #container .ind-menu .menu-title {
    height: 35px;
    background-image: url(../images/images_04_01_01.png);
    background-repeat: no-repeat;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
}
#content #container .ind-menu .menu-list {
    margin: 0px;
    float: left;
    width: 171px;
    background-image: url(../images/images_04_01_022.png);
    background-repeat: repeat-y;
/*    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FF7430;*/
    padding: 10px;
}
#content #container .ind-menu .menu-list li {
    font-weight: bold;
}
#content #container .ind-menu .menu-list li a {
    color: #E3701A;
    background-color: #EBECDF;
    margin-bottom: 10px;
    float: left;
    width: 158px;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #DDDEC5;
}
#content #container .ind-menu .menu-list li a:hover {
    color: #FFF;
    background-color: #526C8F;
}
#content #container .ind-menu .menu-footer {
    background-image: url(../images/images_04_01_03.png);
    height: 13px;
    float: left;
    width: 191px;
}
#content #container .ind-menu .advlist {
    margin-top: 10px;
    float: left;
    width: 191px;
}
#content #container .ind-menu .advlist li {
    height: 100px;
    border: 1px solid #CCC;
    margin-bottom: 10px;
    float: left;
    width: 189px;
    background-color: #E3701A;
    line-height: 100px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}
#content #container .ind-menu .menu-list-p {
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 171px;
    background-repeat: repeat;
    background-image: url(../images/images_04_01_022.png);
}
.accondion-menu {
    width: 170px;
    height: auto;
}
.accondion-menu > ul {
    list-style: none;
}
.accondion-menu .menu-one > li {
    width: 170px;
    height: auto;
    overflow: hidden;
    border-top: 1px solid #888;
    float: left;
}
.accondion-menu .menu-one > li.firstChild {
    border: 0;
}
.accondion-menu .menu-one .header {
    height: 35px;
    background: #EBECDF;
    line-height: 34px;
    cursor: pointer;
    text-indent: 5px;
}
.accondion-menu .menu-one .header:hover, .accondion-menu .menu-one .menuOne-current {
    background-color: #666;
    color: #FFF;
}
.accondion-menu .menu-one .header > span {
    display: block;
}
.accondion-menu .menu-one .header .txt {
    float: left;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.accondion-menu .menu-one .header:hover .txt {
    color:#FFF;
}
.accondion-menu .menu-one .header .arrow {
    float: right;
    width: 35px;
    height: 35px;
    background-image: url(../images/arrow-d.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.accondion-menu .menu-two {
    display: none;
    width: 170px;
    height: auto;
}
.accondion-menu .menu-two li {
    width: 170px;
    border-top: 1px solid #ccc;
    float: left;
    text-indent: 10px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    background-color: #F3F4EC;
    transition:all 0.3s;
}
.accondion-menu .menu-two li:hover {
    padding-left:10px;
}
.accondion-menu .menu-two li.firstChild {
    border: 0;
}
.accondion-menu .menu-two li a {
    display: block;
    color: #862103;
    font-weight:bold;
    font-size:14px;
}
/*.accondion-menu .menu-two li a:hover {
    color: #FFF;
}*/
.accondion-menu .menu-two li.menuTwo-current {
    background-color: #CCC;
}
.accondion-menu .menu-show .header {
    background: #CCC;
}
.accondion-menu .menu-show .header .arrow {
    background-image: url(../images/arrow-u.png);
}
.accondion-menu a, a:link, a:visited {
    color: #ccc;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
}
#content #container .product {
    float: right;
    width: 780px;
}
#content #container .product .hot-product {
    width: 580px;
    float: left;
    height: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #8D8D8D;
    margin-bottom: 10px;
}
#content #container .product .hot-product .hot-title {
    height: 35px;
    background-image: url(../images/images_04_02_01.png);
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
    color: #FFF;
    padding-left: 10px;
}
#content #container .product .hot-product .hot-content {
    background-image: url(../images/images_04_02_02.png);
    background-repeat: repeat-y;
    float: left;
    width: 570px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
#content #container .product .best-product {
    float: right;
    width: 192px;
}
#content #container .product .best-product .best-title {
    height: 35px;
    background-image: url(../images/images_04_03_01.png);
    padding-left: 10px;
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
    color: #FFF;
}
#content #container .product .best-product .best-content {
    background-image: url(../images/images_04_03_02.png);
    float: left;
    height: auto;
    width: 192px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C94445;
    padding-top: 10px;
}
#content #container .product a {
    color: #C30;
}
#content #container .product a:hover .column {
    color: #600;
    background-color: #EBECDF;
    background-image: none;
}
#content #container .product .column {
    width: 170px;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
#content #container .product .column img {
    height: auto;
    width: 170px;
}
#content #container .product .column p {
    margin-bottom: 4px;
}
#content #container .sidebar {
    width: 236px;
    float: left;
}
#content #container .sidebar .titlestyle {
    background-image: url(../images/sub04_02.png);
    height: 45px;
    width: 236px;
    background-repeat: no-repeat;
    text-indent: 0px;
    padding-top: 80px;
    text-align: center;
    color: #F33;
    float: left;
}
#content #container .sidebar .pagemenu {
    margin-left: 20px;
    border: 2px dotted #9DCC38;
    clear: both;
    width: 190px;
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FDFBB7;
    padding-top: 10px;
    margin-bottom: 10px;
}
#content #container .sidebar .pagemenu li a {
    font-size: 14px;
    text-align: center;
    float: left;
    width: 190px;
    padding-bottom: 5px;
    height: 20px;
    color: #633;
    font-weight: bold;
    text-decoration: underline;
}
#content #container .contentpage {
    float: right;
    width: 780px;
    margin-bottom: 10px;
}
#content #container .contentpage .orang-tb {
    font-size: 12px;
}
#content #container .contentpage .orang-tb .titlestyle01 {
    line-height: 30px;
    font-weight: bold;
    color: #FFF;
    background-color: #1468EC;
    height: 30px;
    font-size: 16px;
}
#content #container .contentpage .orang-tb .titlestyle022 {
    line-height: 25px;
    font-weight: bold;
    color: #FFF;
    background-color: #97ABE1;
    height: 25px;
    font-size: 14px;
}
#content #container .contentpage .orang-tb th {
    text-align: center;
}
#content #container .contentpage .page-title {
    height: 35px;
    background-image: url(../images/images_04_02_012.png);
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
    color: #FFF;
    padding-left: 10px;
    background-repeat: no-repeat;
}
#content #container .contentpage .page-title-r {
    height: 40px;
    background-image: url(../images/images_04_03_0122.png);
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
    color: #FFF;
    padding-left: 0px;
    background-repeat: no-repeat;
    padding-right: 535px;
    text-align: center;
    margin-bottom: 15px;
    width: 250px;
    background-position-x: 11px;
}
#content #container .contentpage .page-title-r.inside-page {
    width: 230px;
    background-position-x: 0px;
}
#content #container .contentpage .page-title-r span {
    position: relative;
    left: -14px;
}
#content #container .contentpage .word {
    width: 760px;
    clear: none;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-repeat: repeat-y;
}
#content #container .contentpage-c {
    width: 780px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}
#content #container .contentpage-c .titlestyle {
    height: 40px;
    background-image: url(../images/images_04_03_0122.png);
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
    color: #FFF;
    padding-left: 10px;
    background-repeat: no-repeat;
    width: 235px;
    padding-right: 535px;
    text-align: center;
    float: left;
}
#content #container .contentpage-c .word {
    width: 760px;
    clear: none;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: url(../images/images_04_02_022.png);
    background-repeat: repeat-y;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4C8BF0;
}
.news {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
}
.news h2 a {
    font-size: 14px;
    color: #094273;
    text-decoration: none;
}
.news .line {
    border: 1px solid #A5330A;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 15px;
    background-color: #DEEBED;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.news .line .title {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #9DCC38;
    margin-bottom: 4px;
    padding-bottom: 4px;
    width: 98%;
    padding-right: 1%;
    padding-left: 1%;
}
.news .line .title .data {
    margin-right: 10px;
    float: left;
    color: #333;
}
.news .news-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
    clear: both;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #303E1E;
    padding-bottom: 3px;
    width: 98%;
    padding-right: 1%;
    padding-left: 1%;
}
.news .news-content {
    height: auto;
    overflow: hidden;
    padding: 1%;
    width: 98%;
}
.news .news-content p {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    line-height: 18px;
    color: #333;
}
.news .news-content2 {
    height: auto;
    overflow: hidden;
    width: 98%;
    padding-top: 4px;
    padding-right: 1%;
    padding-bottom: 4px;
    padding-left: 1%;
}
.news .news-content2 p {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    line-height: 18px;
    color: #333;
}
.news .news-content2 ul {
    list-style-type: none;
    padding: 0px;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.news .news-img {
    width: 180px;
    height: auto;
    float: left;
    clear: both;
    border: 1px solid #333;
    text-align: center;
    background-color: #FFF;
    padding: 2px;
    margin-right: 6px;
}
.news .news-img img {
    width: 180px;
}
.news .news-img2 {
    height: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.page-about {} .page-about p {
    line-height: 24px;
}
.page-about h1 {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: bold;
    color: #EC6A24;
    padding-bottom: 3px;
}
.page-about img {
    float: right;
    clear: left;
    margin-bottom: 10px;
    margin-left: 10px;
}
.page-product {
    clear: both;
    float: left;
    width: 100%;
}
.page-product a {
    color: #000 ;
}
.page-product a:hover .column {
    background-color: #BBBD4F;
    background-image: none;
    word-spacing: .3em;
}
.page-product .column {
    width: 170px;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 4px;
    margin-left: 4px;
    background-color:#EDEDED;
}
#best-product.page-product .column {
    margin-right: 15px;
}
.page-product .column img {
    width: 170px;
    height: auto;
}
.page-product .column p {
    margin-bottom: 4px;
}
.font14px.font-b { height:21px;}
.locate {
    /*float: left;*/
    width: 170px;
    height: auto;
    margin-bottom: 20px;
    clear: both;
    position: relative;
}
.hot {
    background-image: url(../images/webicon.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -12px;
    top: -23px;
    height: 47px;
    width: 50px;
    background-position: left top;
    z-index: 100;
}
.sale {
    background-image: url(../images/webicon.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 47px;
    width: 52px;
    background-position: -53px top;
    right: -5px;
    z-index: 100;
    bottom: -5px;
}
.new {
    background-image: url(../images/webicon.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 70px;
    width: 70px;
    background-position: -102px -4px;
    top: -5px;
    right: -5px;
    z-index: 100;
}
.products-all {
    float: left;
    height: auto;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}
.products-all .guestbook {
    border: 1px solid #D96C1F;
    float: left;
    width: 100%;
}
.products-all .guestbook .titlestyle88 {
    float: left;
    width: 100%;
    height: 30px;
    background-color: #526C8F;
    line-height: 30px;
    color: #FFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D96C1F;
    text-align: center;
}
.products-all .guestbook .aa {
    margin-top: 20px;
    color: #E3701A;
}
.products-all .guestbook .contactus {
    float: left;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.products-allbg {
    background-image: url(../images/pdbg.png);
    background-position: 50% 0px;
    background-repeat: no-repeat;
    padding-top: 128px;
}
.products-all-text {
    float: left;
    height: auto;
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}
.products-c {
    clear: both;
}
.products-c .leftpic {
    width: 450px;
    float: left;
    margin-bottom: 20px;
    text-align: center;
    height: auto;
}
.products-c .leftpic #bigPic {} .products-c .rightdata {
    float: right;
    width: 300px;
    margin-left: 10px;
    margin-top: 60px;
    color: #666;
    line-height: 25px;
}
.products-c .rightdata .desc {
    margin-bottom: 20px;
    float: left;
    height: auto;
    width: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.products-c .rightdata .desc li {
    float: left;
    width: 100%;
    clear: both;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #FFF;
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
}
.products-c .rightdata .desc .nt {
    margin-left: 0px;
    font-weight: bold;
    font-size: 20px;
    color: #CF3;
}
.products-c .rightdata .desc .rnt {
    margin-left: 0px;
    font-size: 12px;
    color: #C33;
}
.products-c .rightdata .desc .tt {
    margin-right: 4px;
    font-weight: bold;
}
.products-c .rightdata .desc .lineh20 {
    line-height: 20px;
}
.products-c .rightdata .desc .bt {
    background-color: #666;
    border: 1px solid #333;
    color: #FFF;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;
    padding-right: 4px;
    padding-left: 4px;
}
.products-c .rightdata .desc .bt-n {
    background-color: #CCC;
    border: 1px solid #999;
    color: #666;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;
    padding-right: 4px;
    padding-left: 4px;
}
.products-c .rightdata .desc .bt-nnn {
    background-color: #FFF;
    border: 1px solid #999;
    color: #CCC;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;
    padding-right: 4px;
    padding-left: 4px;
}
.products-c .rightdata .desc .bt-n:hover {
    background-color: #333;
    border: 1px solid #F00;
    color: #FFF;
}
.products-c .rightdata .desc .sl1 {
    width: 100px;
    height: 20px;
}
.products-c .bttleft {
    float: left;
    clear: both;
}
.products-c .btn {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    clear: both;
    text-align: center;
    float: left;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
}
.products-c .btt2 {
    color: #FF0;
    background-color: #333;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    clear: both;
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
}
.products-c .btt2:hover {
    color: #FFF;
    background-color: #000;
}
.products-c .cart {
    clear: both;
    float: left;
    width: 100%;
}
.products-c .cart .guide {
    clear: none;
    background-image: url(../images/grass.png);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 53px;
    padding-top: 8px;
    border: 2px solid #B8C4AB;
    background-repeat: repeat-x;
}
.products-c .cart .guide li {
    float: left;
    height: auto;
    text-align: center;
    width: 25%;
}
.products-c .cart .guide .ts1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}
.products-c .cart .guide .ts2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}
.products-c .cart .data-all {
    clear: both;
    float: left;
    width: 100%;
}
.products-c .cart .data-all table {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-size: 12px;
    clear: both;
    height: auto;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.products-c .cart .data-all table td {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin: 0px;
}
.products-c .cart .data-all table .tr1 {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #666;
}
.products-c .cart .data-all .tbtt {
    color: #FFF;
    background-color: #666;
    line-height: 20px;
    height: 20px;
}
.products-c .cart .data-all .settle {
    clear: both;
    float: left;
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
}
.products-c .cart .data-all .settle p {
    margin-bottom: 8px;
}
.products-c .cart .data-all .settle .cp {
    text-align: center;
}
.products-c .cart .data-all .settle .ldata {
    text-align: left;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.products-c .cart .data-all .settle .rdata {
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.products-c .cart .data-all .sst2 {
    padding: 5px;
    border: 1px solid #C33;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    background-color: #FFEDE1;
}
.products-c .cart .data-all .ps {
    padding: 10px;
    border: 1px solid #999;
    margin-right: auto;
    margin-left: auto;
    width: 680px;
    margin-bottom: 10px;
    clear: both;
    font-size: 12px;
}
.products-c .cart .data-all .sss {
    padding: 5px;
    border: 1px solid #999;
    margin-right: auto;
    margin-left: auto;
    width: 160px;
    font-size: 12px;
}
.products-c .cart .data-all .sss2 {
    padding: 5px;
    border: 1px solid #999;
    margin-right: auto;
    margin-left: auto;
    width: 120px;
    font-size: 12px;
}
.products-c .cart .data-all .sss3 {
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    font-size: 12px;
}
.products-c .cart .data-all .sss41 {
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    font-size: 12px;
}
.products-c .cart .data-all .sss42 {
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    font-size: 12px;
}
.products-c .cart .data-all .sss5 {
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    font-size: 12px;
}
.products-c .cart .data-all .nt {
    margin-left: 0px;
    font-weight: bold;
    font-size: 20px;
    color: #C33;
}
.products-c .cart .data-all .rnt {
    margin-left: 0px;
    font-size: 12px;
    color: #C33;
}
#member {
    margin-left: auto;
    clear: both;
    margin-right: auto;
    height: auto;
    margin-top: 10px;
}
#member .login {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
#member .login .memberlogin {
    width: 45%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#member .login .memberlogin .block {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    width: 100%;
}
#member .login .memberlogin .text01 {
    margin-right: 10px;
    width: 150px;
    font-size: 12px;
    padding: 5px;
}
#member .login .memberlogin a {
    color: #F00;
}
#member .login .forgetpass {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
}
#member .login .forgetpass .block {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    width: 100%;
}
#member .login .forgetpass .text01 {
    margin-right: 10px;
    width: 150px;
    font-size: 12px;
    padding: 5px;
}
#member .login .joinmember {
    float: right;
    width: 50%;
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: #666;
    padding-left: 10px;
    height: auto;
}
#member .login .joinmember .block {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    width: 100%;
}
#member .login .joinmember .block2 {
    font-size: 12px;
    margin-bottom: 40px;
    text-align: center;
    float: left;
    width: 100%;
}
#member .login .joinmember .text01 {
    margin-right: 10px;
    width: 250px;
    font-size: 12px;
    padding: 5px;
}
#member .login .joinmember .blockcenter {
    text-align: center;
    float: left;
    width: 100%;
}
#member .login .memberdata {
    clear: both;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
#member .login .memberdata .blockcenter {
    text-align: center;
}
#member .login .memberdata .block {
    margin-bottom: 10px;
    font-size: 12px;
    float: left;
    width: 100%;
}
#member .login .memberdata .block2 {
    font-size: 12px;
    margin-bottom: 40px;
    text-align: center;
    float: left;
    width: 100%;
}
#member .login .memberdata table {} #member .login .memberdata td {
    padding: 5px;
    text-align: left;
}
#member .login .memberdata .text01 {
    width: 400px;
    font-size: 12px;
    padding: 5px;
}
#member .login .memberdata .text02 {
    font-size: 12px;
    padding: 5px;
    width: 100px;
}
#member .login .memberdata .text03 {
    font-size: 12px;
    padding: 5px;
    width: 190px;
}
#member .login .memberdata .sss41 {
    width: 60px;
    font-size: 12px;
    padding: 5px;
}
#member .login .memberdata .sss42 {
    width: 300px;
    font-size: 12px;
    padding: 5px;
}
#member .login .memberdata .sst2 {
    padding: 5px;
    border: 1px solid #C33;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    background-color: #FFEDE1;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}
#member .login .memberdata .rnt {
    color: #C33;
}
#member .btt2 {
    color: #FF0;
    background-color: #333;
    clear: both;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#member .btt2:hover {
    color: #FFF;
    background-color: #000;
}
#order {
    margin-left: auto;
    clear: both;
    margin-right: auto;
    height: auto;
    width: 700px;
    margin-top: 10px;
    min-height: 700px;
}
#order table {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-size: 12px;
    clear: both;
    height: auto;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
#order table td {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
    padding-right: 8px;
    padding-left: 8px;
}
#order table .tr1 {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #666;
}
#order .tbtt {
    color: #FFF;
    background-color: #666;
    line-height: 20px;
    height: 20px;
}
#order .nt {
    margin-left: 0px;
    font-weight: bold;
    font-size: 20px;
    color: #C33;
}
#order .rnt {
    margin-left: 0px;
    font-size: 12px;
    color: #C33;
}
#order .btn {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    clear: both;
    text-align: center;
    float: left;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#order .btn .btt2 {
    color: #FF0;
    background-color: #333;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    clear: both;
    padding-top: 8px;
    padding-bottom: 8px;
}
#order .btn .btt2:hover {
    color: #FFF;
    background-color: #000;
}
#qaContent {} #qaContent h3 {
    padding: 5px;
}
#qaContent h3.qa_group_1 {
    background-color: #003333;
    color: #FFF;
}
#qaContent h3.qa_group_2 {} #qaContent ul.accordionPart {
    margin: 10px 10px 50px 30px;
}
#qaContent ul.accordionPart li {
    padding-bottom: 12px;
    margin-top: 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #666666;
}
#qaContent ul.accordionPart li .qa_title {
    background: url(../../../%E9%9C%96%E5%93%A5/WEB/../images/icon_q_a.gif) no-repeat 0px 3px;
    padding-left: 28px;
    color: #1186ec;
    cursor: pointer;
}
#qaContent ul.accordionPart li .qa_title_on {
    text-decoration: underline;
}
#qaContent ul.accordionPart li .qa_content {
    background: url(../../../%E9%9C%96%E5%93%A5/WEB/../images/icon_q_a.gif) no-repeat 0px -24px;
    padding-left: 28px;
    color: #333;
    margin-top: 6px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-right: 28px;
}
.formBox {
    color: #333333;
    /*字的顏色*/
    
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
}
.formBox .form {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
    height: auto;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #666;
}
.formBox .form p {
    margin-bottom: 8px;
}
.formBox .form ul {
    float: left;
    width: 100%;
}
.formBox .form ul li {
    height: 25px;
    line-height: 25px;
    width: 100%;
    float: left;
}
.formBox div ul li input[type="text"] {
    height: auto;
    width: auto;
}
.formBox select {
    /*下拉選單*/
    
    float: left;
}
.formBox .leftside {
    float: left;
    height: 25px;
    /*輸入框的高*/
    
    line-height: 25px;
    /*字的顏色*/
    
    font-weight: bold;
    /*bold粗體 normal正常*/
    
    text-align: left;
    padding-right: 10px;
    color: #000;
    width: 30%;
}
.formBox .lefttitle {
    float: left;
    height: 25px;
    /*輸入框的高*/
    
    line-height: 25px;
    /*字的顏色*/
    
    font-weight: bold;
    /*bold粗體 normal正常*/
    
    text-align: left;
    padding-right: 10px;
    color: #000;
}
.formBox .lefttitle2 {
    float: left;
    height: 25px;
    /*輸入框的高*/
    
    line-height: 25px;
    /*字的顏色*/
    
    font-weight: bold;
    /*bold粗體 normal正常*/
    
    text-align: left;
    padding-right: 10px;
    color: #000;
    width: 100%;
}
.formBox span {
    float: left;
    /*輸入框的高*/
    
    line-height: 25px;
    /*字的顏色*/
    
    font-weight: normal;
    /*bold粗體 normal正常*/
    
    text-align: right;
}
.formBox span img {
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid #CC3;
}
.formBox em {
    color: #FF0000;
    /*星號的顏色*/
    
    font-style: normal;
    font-weight: bold;
    padding-right: 5px;
}
.formBox input[type="text"] {
    /*輸入框*/
    
    height: 25px;
    /*高度*/
    
    line-height: 25px;
    color: #666;
    border: 1px solid #666;
    width: 65%;
}
.formBox textarea {
    float: left;
    width: 65%;
    height: 180px;
    border: 1px solid #666;
    color: #666;
}
/*框線顏色*/

.checkArea {
    clear: both;
    width: 400px;
    height: 30px;
    color: #333;
    font-size: 10pt;
    margin-left: 80px;
    /*左偏移*/
    
    position: relative;
    float: left;
}
.error {
    box-shadow: 0 0 5px #FF0000;
    border: 1px solid #F00;
}
/*****************/
/** QapTcha CSS **/
/*****************/

.QapTcha {
    /*整個驗證碼區*/
}
.QapTcha .clr {
    clear: both;
}
.QapTcha .bgSlider {
    /*滑軌*/
    
    width: 200px;
    height: 34px;
    float: left;
    border-radius: 6px;
    border: 1px solid #CCC;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#e5e5e5', GradientType=0);
    background-color: #333;
    background-position: bottom;
}
.QapTcha .Slider {
    /*按鈕*/
    
    cursor: pointer;
    width: 45px;
    height: 30px;
    position: relative;
    top: 2px;
    left: 0;
    z-index: 99;
    background-color: transparent;
    background-image: url(../images/but-arrow_white.gif);
    background-repeat: no-repeat;
}
.checkArea p.note {
    /*向右滑動解鎖*/
    
    font-size: 15px;
    font-family: 微軟正黑體;
    color: #6D6D6D;
    position: absolute;
    left: 55px;
    top: 7px;
}
.checkArea p.require {
    /*以上必填訊息*/
    
    position: absolute;
    top: 7px;
    left: 210px;
    color: #e21646;
    font-size: 9pt;
}
.QapTcha .dropSuccess {
    /*成功*/
    
    color: #4e8b37;
}
.QapTcha .dropError {
    /*錯誤*/
    
    display: none;
}
.btn {
    /*送出按鈕*/
    
    cursor: pointer;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
}
.btn a {
    /*送出按鈕*/
    
    color: #FF0;
    background-color: #333;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
}
.btn a:hover {
    /*送出按鈕*/
    
    color: #FFF;
    background-color: #000;
}
.titlestyle-s {
    margin-bottom: 20px;
    border-bottom-color: #666;
    width: 100%;
    line-height: 30px;
    height: 30px;
    clear: both;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    float: left;
    font-family: Tahoma, Geneva, sans-serif;
}
.titlestyle-s .more {
    float: right;
    margin-right: 4px;
    background-color: #333;
    color: #FF0;
    line-height: normal;
    margin-bottom: 2px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    clear: both;
}
.titlestyle-s a:hover .more {
    color: #FFF;
    background-color: #000;
}
.title {
    font-size: 12px;
    color: #666;
    margin-left: 5px;
    font-weight: bold;
}
.titleE {
    font-size: 10px;
    color: #755542;
}
.titlestyle02 {
    background-color: #D1114C;
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    width: 98%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1%;
    padding-left: 1%;
    text-align: center;
    font-size: 12px;
}
.newstitle {
    background-image: url(../images/icon_t_02.png);
    background-repeat: no-repeat;
    height: 65px;
}
.abouttitle {
    background-image: url(../images/icon_t_04.png);
    background-repeat: no-repeat;
    height: 65px;
}
.productstitle {
    background-image: url(../images/icon_t_08.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    height: 45px;
}
.buttonstyle {
    font-size: 10px;
    background-color: #366181;
    color: #FFF;
    border: 1px solid #FFF;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}
#footer {
    width: 100%;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    font-size: 12px;
    float: left;
    padding-bottom: 5px;
}
#footer .menu {
    background-color: #e40011;
    height: 30px;
    margin-bottom: 10px;
}
#footer .menu ul {
    width: 855px;
    margin-right: auto;
    margin-left: auto;
}
#footer .menu ul li a {
    float: left;
    color: #FFF;
    height: 30px;
    line-height: 30px;
    width: 141px;
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: #FFF;
}
#footer .sss01 {
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: #FFF;
}
#footer a h1 {
    display: inline;
    margin: 0px;
    padding: 0px;
    color: #59A224;
}
#footer .copy {
    height: 30px;
    float: left;
    width: 100%;
    line-height: 30px;
}
DIV.digg {
    TEXT-ALIGN: center;
    padding: 1%;
    height: auto;
    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 3px;
    margin-left: auto;
    width: 98%;
    float: left;
}
DIV.digg A {
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    COLOR: #242424;
    PADDING-TOP: 2px;
    TEXT-DECORATION: none;
    border: 1px solid #6C9;
}
DIV.digg A:hover {
    COLOR: #000;
    border: 1px solid #000;
}
DIV.digg A:active {
    COLOR: #000;
    border: 1px solid #096;
}
DIV.digg SPAN.current {
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    COLOR: #fff;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #999;
    border: 1px solid #666;
}
DIV.digg SPAN.disabled {
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    COLOR: #ddd;
    PADDING-TOP: 2px;
    border: 1px solid #CCC;
}
.color-w {
    color: #FFF;
}
.color-r {
    color: color: #C30;
    ;
    color: #F00;
}
.color-y {
    color: #FBF39D;
}
.color-b {
    color: #333;
}
.color-bl {
    color: #4BADFE;
}
.color-bl-e {
    color: #A5D6FE;
}
.color-bb {
    color: #CCC;
}
.color-p {
    color: #BA7E65;
}
.color-pi {
    color: #D1114C;
}
.color-o {
    color: #EC6C00;
}
.color-br {
    color: #F4A77E;
}
.color-g {
    color: #393;
}
.color-gr1 {
    color: #FFF;
}
.color-gr2 {
    color: #CCC;
}
.color-gr3 {
    color: #FF5151;
}
.color-gr4 {
    color: #333;
}
.color-gr5 {
    color: #000;
}
.lefe {
    float: left;
}
.right {
    float: right;
}
.lefe {
    float: left;
}
.right {
    float: right;
}
.blockcenter {
    text-align: center;
}
.font-b {
    font-weight: bold;
}
.font-b-n {
    font-weight: normal;
}
.font10px {
    font-size: 12px;
}
.font12px {
    font-size: 14px;
}
.font14px {
    font-size: 14px;
}
.font16px {
    font-size: 16px;
}
.font18px {
    font-size: 18px;
}
.font22px {
    font-size: 22px;
}
.font24px {
    font-size: 24px;
}
.font36px {
    font-size: 34px;
}
.l4 {
    margin-left: 4px;
}
.r25 {
    margin-right: 25px;
}
.b2 {
    margin-bottom: 4px;
}
.b4 {
    margin-bottom: 4px;
}
.b6 {
    margin-bottom: 6px;
}
.b12 {
    margin-bottom: 12px;
}
.b20 {
    margin-bottom: 20px;
    clear: both;
}
.b40 {
    margin-bottom: 40px;
    clear: both;
}
.b60 {
    margin-bottom: 60px;
    clear: both;
}
.t8 {
    margin-top: 8px;
}
.t40 {
    margin-top: 40px;
}
#side_bom {
    background-image: url(../images/images_04_01_023.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 191px;
    float: left;
}
#header .menu li .line {
    color: #000;
}
#header .menu li a {
    color: #000;
}
#bottt {
    float: right;
    margin-right: 7px;
    background-image: url(../images/bott.png);
    background-repeat: no-repeat;
    height: 21px;
    width: 51px;
    font-size: 14px;
    font-weight: bold;
    color: #900;
    letter-spacing: 0.3em;
    padding-left: 6px;
    padding-top: 2px;
}
#foodss input {
    float: left;
}
.page-about ul li {
    color: #000;
    line-height: 25px;
    padding-left: 8px;
    padding-top: 10px;
}
.about_form_m {
    border: 1px solid #F90;
    background-color: #604B3A;
}
.slick-initialized .slick-slide{
    margin-top:20px;
}
 /**************search bar**************/
.search_bar { text-align: right;}
.search_bar #search { border: none; width: 130px; margin: 0 20px 4px 20px;}
.search_bar form { display:inline-block; border:1px solid #AAA; background-color: #FAFFBD; border-radius: 5px;}
.search_bar input { background-color: #FAFFBD;}
.search_bar input:focus { outline: 0;}
.search_bar .fa-search { margin-right: 3px; cursor: pointer;}